@media only screen and (max-width: 1200px) {
  header .main_menu li {
    margin-left: 19px;
  }

  #about_s .glass {
    width: 481px;
  }
  #about_s .container .McGregor {
    width: 538px;
    height: 360px;
  }
  #about_s .beef_steak {
    height: 126px;
    width: 126px;
  }
  #menu_s .photo1 img,
  #menu_s .photo2 img {
    width: 215px;
    height: 215px;
  }
  #menu_s .photo3 img {
    width: 457px;
    height: 233px;
  }
  #menu_s .menu_block {
    margin-top: 65px;
  }
}

@media only screen and (max-width: 992px) {
  header .main_menu li {
    margin-left: 0px;
  }
  header .main_menu li {
    width: 107px;
    font-size: 11px;
  }

  #about_s {
    padding-top: 20px;
    height: 963px;
  }
  #about_s .glass {
    margin-top: 20px;
    width: 350px;
  }
  #about_s .container .McGregor {
    width: 350px;
    height: 274px;
  }
  #about_s .container .McGregor {
    top: 281px;
    left: 384px;
  }
  #about_s .kitchen {
    margin-top: 22px;
    margin-left: 0px;
    height: 274px;
    width: 350px;
  }
  #about_s .beef_steak {
    margin-top: 21px;
    margin-left: 15px;
    height: 274px;
    width: 350px;
  }
  #menu_s .photo1 img,
  #menu_s .photo2 img {
    width: 158px;
    height: 158px;
  }
  #menu_s .photo3 img {
    width: 348px;
    height: 158px;
  }
  #menu_s .menu_block {
    margin-top: 0px;
  }
  #menu_s {
    padding: 70px 0;
  }
  .about_block h3,
  .menu_block h3 {
    margin: 0;
  }
  .menu_block > a {
    margin-top: 0px;
    margin-right: 31px;
  }
  #reservation {
    padding: 30px 0;
  }
  #reservation .pop_form,
  #reservation .events {
    margin: 30px auto;
  }
}

@media only screen and (max-width: 768px) {
  .small_menu {
    display: inline-block;
  }
  header .main_menu {
    margin-top: 77px;
    width: 95%;
  }
  header .main_menu p {
    display: none;
  }
  header .main_menu li {
    width: 100%;
  }
  header .main_menu li a {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
  .main_menu {
    display: none;
    background-color: #242424;
    z-index: 2;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 76px;
  }

  #about_s {
    padding-top: 73px;
    height: 400px;
    text-align: center;
  }
  .about_block > a,
  .menu_block > a {
    float: none;
    margin-right: 0;
    margin-left: 0;
  }
  #about_s .glass,
  #about_s .kitchen,
  #about_s .container .McGregor,
  #about_s .beef_steak {
    display: none;
  }
  .about_block p,
  .menu_block p {
    margin-bottom: 52px;
  }
  #menu_s .menu_block {
    text-align: center;
  }

  #menu_s .photo1 img,
  #menu_s .photo2 img {
    width: 190px;
    height: 190px;
  }
  #menu_s .photo1 img {
    margin-left: 28px;
  }
  #menu_s .photo2 {
    float: none;
  }
  #menu_s .photo2 img {
    margin-left: 20px;
  }
  #menu_s .photo3 img {
    width: 400px;
    height: 200px;
    margin: 20px 28px;
  }
  #share {
    height: 380px;
    padding-top: 25px;
  }
  #share .book h3,
  #share .tell_friends h3 {
    font-size: 20px;
  }
  #share .book p,
  #share .tell_friends p {
    font-size: 13px;
  }
  #share .divide {
    display: none;
  }
  #share .book {
    margin-bottom: 28px;
  }
  footer {
    height: 305px;
    background-color: #222222;
    padding-top: 6px;
  }
  footer h5 {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  footer ul li {
    list-style-type: none;
    margin-bottom: 0px;
    margin-right: 25px;
    display: inline-block;
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
    margin-top: 105px;
  }

  .about_block > a,
  .menu_block > a {
    float: none;
    margin-right: 0;
    margin-left: 0;
  }
  #about_s {
    padding-top: 46px;
    height: 480px;
  }
  #menu_s .photo3 img {
    width: 290px;
    height: 140px;
    margin: 10px 0;
  }
  #menu_s .photo1 img {
    margin-left: 0px;
  }
  #menu_s .photo2 img {
    margin-left: 10px;
  }
  #menu_s .photo1 img,
  #menu_s .photo2 img {
    width: 140px;
    height: 140px;
  }
  #reservation .pop_form {
    height: 550px;
    width: 291px;
    padding-top: 42px;
  }
  #reservation .pop_form input {
    width: 264px;
  }
  #reservation .pop_form .form_name {
    background-position: 235px 18px;
  }
  #reservation .pop_form .form_date {
    background-position: 235px -107px;
  }
  #reservation .pop_form .form_time {
    background-position: 235px -238px;
  }
  #reservation .pop_form .form_commensals {
    background-position: 235px -381px;
  }
  #reservation .pop_form .form_button {
    width: 264px;
  }
  #reservation .events {
    padding-top: 42px;
    height: 550px;
    width: 291px;
  }
  #reservation .events .e_develop img {
    height: 60px;
    width: 60px;
    margin-left: 10px;
  }
  #reservation .events .e_develop {
    width: 290px;
  }
  #reservation .events .e_develop .e_message {
    width: 200px;
  }
  #reservation .events .e_develop .e_message h4 {
    font-size: 14px;
  }
  #reservation .events .e_develop .e_message .e_text,
  #reservation .events .e_develop .e_message .e_text .e_more {
    font-size: 10px;
  }
  footer {
    height: 330px;
  }
}
